/* .grid-title {
  text-transform: uppercase;
  font-family: var(--font-geist-mono);
  font-size: var(--h5);
} */

.wrapper {
  margin: 2rem auto;
  padding-left: var(--padding-left);
}

.wrapper h1 {
  font-size: 1em;
  container-name: wrapper;
}

@media (min-width: 25em) {
  .wrapper {
    max-width: 50em;
  }
}

@container wrapper (min-width: 25em) {
  .wrapper h1 {
    font-size: 2em;
  }
}
