.tab-nav {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}

.tabs-highlight {
  background: hsl(0 0% 90.9%);
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 4px;
  height: 2.1rem;
  transition: 0.15s ease;
  transition-property: width, transform, opacity;
}

.tab {
  cursor: pointer;
  padding: var(--padding-left) 12px;
  font-size: 16px;
  color: hsl(0 0% 43.5%);
  display: inline-block;
  position: relative;
  transition: color 250ms;
}

.tab:hover {
  color: hsl(0 0% 9%);
}
