.icon {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    position: relative;

    &::after {
        width: 15px;
        height: 1px;
        content: '';
        display: inline-block;
        position: absolute;
        background: black;
        transform: translate(7px, 16px);
        // transform: rotate(45deg) translateY(5px) translateX(14px);
    }

    &::before {
        width: 15px;
        height: 1px;
        content: '';
        display: inline-block;
        position: absolute;
        background: black;
        transform: translate(7px, 10px);

        // transform: rotate(130deg) translateY(-13px) translateX(6px);
    }
}

.dropdown {
}
