.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    gap: 2rem;
    margin: auto 3rem;
}

// .container > * {
//     border: 1px solid black;
// }

.header {
}

.nav {
    grid-column: 1 / 3;
    grid-row: 1/ 2;
    border-top: 2rem solid black;
    display: flex;
    justify-content: end;
}

.nav > * {
    border-right: 10px solid black;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-direction: column;
}

.nav ul > li {
    padding: 1rem;
    font-weight: 700;
}

.nav ul {
    padding-left: 1rem;
}

.main {
}

.footer {
    grid-area: footer;
    border-radius: 4px;
}
