.container {
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 270px);
    gap: 2rem;
}

.header {
}

.nav {
}

.main {
}

.footer {
    grid-area: footer;
    border-radius: 4px;
}
